__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/
.venv/
.env
.env.*
.uv/
.rye/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
logs/
*.cache/
.cache/
wandb/
captures/
outputs/
datasets/
data/
*.zip
*.tar
*.tar.gz
checkpoints/
new_models/
models/
*_openvino_model/
*.onnx
*.pth
*.pt
